* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #333333;
    color: #ffffff;
    margin: 0;

}

.sub-head,
text {
    font-family: Helvetica, sans-serif, serif;
}

div#container {
    height: 200vh;
    max-height: 200vh;
    overflow: hidden;
    display: flex;
	flex-direction: column;
}

figure#chart {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#header {
    text-align: center;
}

#footer,
#header {
    flex: 1 0 2%;
    background-color: #9cb6dd;
    color: #000000;
}

#byline {
    text-align: center;
    margin-bottom: 10px;
}

#body {
    flex: 1 0 85%;
    display: flex;
    flex-direction: row;
}

#main {
    flex: 1 0 65%;
    padding: 20px;
    margin-right: 10%;
}

#sidebar {
    flex: 1 0 25%;
    padding: 20px;
    border-right: 1px solid #ffffff;
}

h1 {
    margin: 0;
    font-family: mauritius-cond,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 45px;
}

h3 {
    margin-top: 0;
    margin-bottom: 3px;
}

h5 {
    margin: 3px 0;
}

h6 {
    margin: 3px 0;
    font-weight: 300;
    font-size: 12px;
}

p {
    line-height: 1.25;
}

.time > p {
    margin-left: 10px;
    font-size: 13px;
}

.time > h5 {
    font-weight: bold;
    color: #85a0c9;;
}

blockquote,
.time > p {
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.italics {
    font-style: italic;
}

.tick > text {
    font-size: 14px;
}

.axisLabel {
    font-size: 18px;
}

text {
    fill: #ffffff;
}