html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#chart {
    width: 100%;
    height: 80vh;
    margin: 0px;
    padding: 0px;
    position: relative;
}

h1 {
text-align: center;
}

.axisLabel {
font-size: 16pt;
font-weight: bold;
}

.axis {
font-size: 12pt;
}

/* 
The following CSS rule is used to style a tooltip div that is later created by D3;
Note that this relies on several CSS properties:
- the tooltip div must have position: absolute;
- the container for the tooltip (above, #chart) must have position: relative;
- we position the tooltip div through the top and left properties, which are relative to the top and left edges of the container (#chart)
*/

.tooltip {
    /* THE FOLLOWING PROPERTIES
    ARE REQUIRED TO MAKE THE TOOLTIP
    WORK CORRECTLY */
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    pointer-events: none;
    
    /* THE FOLLOWING PROPERTIES ARE
    OPTIONAL AND AESTHETIC */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    background-color:rgba(255, 238, 126, 0.5);
    padding: 2px;
}

/* * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #333333;
    color: #ffffff;
}

h1 {
    margin: 0;
    font-family: mauritius-cond,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 45px;
}

h3 {
    margin-top: 0;
    margin-bottom: 3px;
}

h5 {
    margin: 3px 0;
}

h6 {
    margin: 3px 0;
    font-weight: 300;
    font-size: 12px;
}

.sub-head,
text {
    font-family: Helvetica, sans-serif, serif;
}

div#container {
    height: 200vh;
    max-height: 200vh;
    overflow: hidden;
    display: flex;
	flex-direction: column;
}

figure#chart {
    width: 100%;
    position: relative;
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.tooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    pointer-events: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    background-color:rgba(255, 255, 255, 0.5);
    padding: 2px;
} */

/*

#footer,
#header {
    flex: 1 0 2%;
    background-color: #9cb6dd;
    color: #000000;
    text-align: center;
}

#byline {
    text-align: center;
    margin-bottom: 10px;
}

#body {
    flex: 1 0 85%;
    display: flex;
    flex-direction: row;
}

#main {
    flex: 1 0 65%;
    padding: 20px;
    margin: 0 30px;
}

#sidebar {
    flex: 1 0 25%;
    padding: 20px;
    border-right: 1px solid #ffffff;
}

p {
    line-height: 1.25;
}

.time > p {
    margin-left: 10px;
    font-size: 13px;
}

.time > h5 {
    font-weight: bold;
    color: #85a0c9;;
}

blockquote,
.time > p {
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.italics {
    font-style: italic;
}

.tick > text {
    font-size: 14px;
}

.axisLabel {
    font-size: 18px;
}

text {
    fill: #ffffff;
}

.tooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    pointer-events: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    background-color:rgba(255, 255, 255, 0.5);
    padding: 2px;
}

.buttons {
    text-align: center;
}

.buttons > button {
    background-color: #85a0c9;
    padding: 10px;
    margin: 10px;
    color: white;
    border: 4px solid #85a0c9;
    border-radius: 5px;
    font-size: 20px;
    display: inline-block;
    border-collapse: separate; 
}

.active {
    font-weight: bold;
    border: 4px solid #ffffff!important;
} */
